@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.Test {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.main_container_stalls {
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center; */
  /* align-items: center;
  height: 100%;
  padding: 2rem 0;
  overflow-x: hidden; */
  width: 80%;
}

.StallsContainer {
  /* height: 320px; */
  /* min-width: 300px; */
  /* max-width: 1440px; */
  overflow-x: scroll;
  overflow-y: hidden;
  /* border: 1px black solid; */
  /* margin: 1rem; */
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
}

.stall_wrapper {
  width: 100%;
}

.Stalls_info {
  min-width: 3000px;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Stalls_info_xl {
  min-width: 2000px;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.booked {
  background-color: #B3B3B3;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 100px;
  height: 50px;
  margin: 10px;
  color: #fff;
  cursor: not-allowed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}


.hundred {
  background: #AACE48;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 100px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  color: #fff;
}

.three-hundred {
  background: #3AA54B;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 100px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  color: #fff;
}



.five-hundred {
  background: #A42A56;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  color: #fff;
}

.advancebookinglink {
  /* display: inline-block;
  align-self: flex-end;
  position: sticky;
  right: 20px;
  left: 0;
  font-size: 1.2rem; */
  font-size: 20px;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.advancebookinglinkback {
  width: fit-content;
  margin: 0 auto;
  color: #000;
  font-size: 15px;
}

.selected {
  background-color: yellow;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 100px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

.seatsinput {
  width: 200px;
  margin: auto;
  text-align: center;
}

.select_market {
  width: 100%;
  /* min-height: 30vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_btn {
  /* display: flex; */
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.bookStall_btn {
  width: 110px;
  height: 40px;
  background: linear-gradient(90deg, #07952b 41%, #0d6a02);
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookStall_btn button {
  color: #fff;
}

.bookStall_btn:hover {
  background: linear-gradient(90deg, #0d6a02, #07952b 41%);
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}

/* @media (max-width: 900px) {
  .main_container_stalls {
    align-items: flex-start;
  }
} */

/* Added */

.market-name {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.stall-booking-lable {
  font-size: 15px !important ;
  margin-bottom: 5px !important;
  color: rgba(0, 0, 0, 0.6);
}

.stall-position-grid {
  margin-top: 25px;
}

.stalls-count-div {
  border-bottom: 1px solid green;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count {
  font-size: 15px !important;
}

.stalls-count-cantainer {
  border: 1px solid green;
  border-radius: 4px;
}

.stall-pricing-grid {
  border: 1px solid green;
  border-radius: 4px;
  margin-top: 10px;
}

.stall-pricing-main-div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-holder {
  display: flex;
  align-items: center;
}

.stall-color {
  margin: 0 2px;
}

.stall-price {
  margin: 0 2px;
  font-size: 15px !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.divider {
  width: 90%;
  border: none !important;
  border-top: 2px solid #bad1c2 !important;
  margin: auto !important;
}

.stall-total-amount-holder {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-amount {
  font-size: 15px;
}

#booking-date[type="date"],
input[type="number"] {
  font-size: 15px;
  text-transform: uppercase;
}

#booking-date[type="date"] {
  color: #b2b2b2;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 20px;
}


.advance-booking{
  margin-top: 20px;
}


@media (max-width: 520px) {
  .Test {
    margin-top: 0;
    margin-bottom: 60px;
}
  .market-name {
    font-size: 20px;
  }
  .stall-booking-lable {
    font-size: 12px !important;
    margin-bottom: 2px;
  }

  .count {
    font-size: 12px !important;
  }

  .stall-color {
    width: 15px !important;
    height: 15px !important;
  }
  .stall-price {
    font-size: 12px !important;
  }

  .total-amount {
    font-size: 12px;
  }

  #booking-date[type="date"],
  input[type="number"] {
    font-size: 12px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 15px;
  }
}


.secondary_container_stalls{
  margin-top: 20px;
}